* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f2f5;
    color: #1c1e21;
    overflow-x: hidden;
}

main {
    height: 100vh;
    width: 100vw;
    position: relative;
    margin: 0 auto;
}

footer {
    height: 30vh;
    background-color: #ffffff;
}

.row {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center;    /* Center items horizontally */
    width: 100%;
    max-width: 1500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;     /* Center text for stacked elements */
}

.col-logo {
    padding: 0;
    margin-bottom: 5px;
}

.col-logo img {
    max-width: 200px;
    
}

.col-form .form h4{
    font-weight: 400;
    font-size: large;
    padding-bottom: 15px;
    font-family: sans-serif;
}

.col-form {
    max-width: 400px;
    width: 100%;
}

.col-form .form {
    background-color: #ffffff;
    border: none;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
   
    padding:40px;
     /* Increase padding for height */
    height: 400px;

}

.col-form .form input,
.col-form .form .btn-login {
    width: 100%;
    margin: 5px 0;
    height: 45px;
    font-size: 16px;
}

.col-form .form input {
    border: 1px solid #dddfe2;
    border-radius: 6px;
    color: #1d2129;
    padding: 0 8px;
    outline: none;
}

.col-form .form input:focus {
    border-color: #1877f2;
    box-shadow: 0 0 0 2px #e7f3ff;
}

.col-form .form .btn-login {
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    padding: 0 16px;
    color: #ffffff;
    font-weight: 700;
}

.col-form .form a {
    display: block;
    color: #1877f2;
    font-size: 14px;
    text-decoration: none;
    padding: 10px 0 20px;
    border-bottom: 1px solid #dadde1;
}

.col-form .form a:hover {
    text-decoration: underline;
}

.col-form .form .btn-new {
    background-color: #42b72a;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
    color: #ffffff;
    font-weight: 700;
    margin-top: 20px;
}

.col-form p {
    font-size: 13px;
}

.col-form p a {
    text-decoration: none;
    color: #1c1e21;
    font-weight: 500;
}

.col-form p a:hover {
    text-decoration: underline;
}

footer .footer-contents {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 70px;
}

footer ol {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 10px 0;
}

footer ol:first-child {
    border-bottom: 1px solid #dddfe2;
}

footer ol:first-child li:last-child button {
    background-color: #f5f6f7;
    border: 1px solid #ccd0d5;
    color: #4b4f56;
    padding: 0 8px;
    font-weight: 700;
    font-size: 16px;
}

footer ol li {
    padding-right: 15px;
    font-size: 12px;
    color: #4b4f56;
}

footer ol li a {
    text-decoration: none;
    color: #5d6167;
}

footer ol li a:hover {
    text-decoration: underline;
}

footer small {
    font-size: 11px;
    color: #4b4f56;
}
